@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #fafafa;
  font-family: "GmarketSansMedium";
}

.chat {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.chatBoard {
  width: 80vw;
  background-color: white;
  border: 1px solid #dbdbdb;
  display: flex;
  justify-content: space-between;
  height: 35vw;
}

.chatLeft {
  border-right: 1px solid #dbdbdb;
  width: 35%;
}

.chatLeftTop {
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 3vw;
  line-height: 3vw;
}

.chatLeftTopEmpty {
  width: 25%;
}

.chatLeftTopUserid {
  width: 50%;
  text-align: center;
}

.chatLeftTopWrite {
  width: 25%;
  text-align: center;
}

.messageAddImg {
  width: 3vw;
}

.messageAddImg:hover {
  cursor: pointer;
}

.chatRight {
  width: 65%;
}

.chatRightBegin {
  height: 100%;
  display: none;
}

.chatRightBeginDomain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sendBtn {
  margin-top: 3vw;
  background-color: #0095f6;
  color: white;
  font-size: 1vw;
  font-weight: 700;
  border: 0;
  border-radius: 3px;
  padding: 0.5vw 1vw;
}

.sendBtn:hover {
  cursor: pointer;
}

.chatRightMessage {
  /* display: none; */
}

.popup {
  position: absolute;
  top: 10%;
  left: 40%;
}

.hidden {
  display: none;
}

.addMessage {
  width: 25vw;
  height: 35vw;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
}

.addMessageTop {
  border-bottom: 1px solid #dbdbdb;
  height: 10%;
  display: flex;
  justify-content: center;
  line-height: 4vw;
}

.addMessageTopClose {
  width: 25%;
  text-align: left;
}

.addMessageTopUserid {
  width: 50%;
  text-align: center;
}

.addMessageTopSend {
  width: 22%;
  text-align: center;
  color: #94ccf2;
  border: 0;
  background-color: white;
  padding: 0;
  font-weight: 700;
}

.close {
  height: 100%;
}

.close:hover {
  cursor: pointer;
}

.addMessageSearch {
  border-bottom: 1px solid #dbdbdb;
  height: 6vw;
  padding: 0 1vw;
}

.addMessageSearch p {
  margin: 0;
  padding-top: 0.7vw;
}

#useridSearch {
  border: 0;
  height: 2vw;
  line-height: 2vw;
  margin-left: 1vw;
}

.search {
  border: 1px solid #dbdbdb;
  background-color: white;
}

.search:hover {
  cursor: pointer;
}

.followeeList {
  padding: 1vw;
}

.follower {
  display: flex;
  justify-content: space-between;
  margin-top: 1vw;
}
