.chatRightTop {
  border-bottom: 1px solid #dbdbdb;
  height: 3vw;
  line-height: 3vw;
  display: flex;
  justify-content: center;
}

.chatRightTopEmpty {
  width: 25%;
}

.chatRightTopUserid {
  width: 50%;
  text-align: center;
}

.chatRightTopSet {
  width: 25%;
  text-align: right;
}

.setting {
  width: 3vw;
  padding-right: 2vw;
}

.chatRightBottom {
  height: 32vw;
}

.chatView {
  height: 90%;
}

.wrapper {
  display: flex;
  height: 100%;
  overflow-y: scroll;
}

.displayContainer {
  /* overflow-y: scroll; */
}

::-webkit-scrollbar {
  display: none;
}

.chattingList {
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-direction: column;
}

.chattingList span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.3rem;
}

.chatInput {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#chatInput {
  width: 70%;
  font-size: 1.3rem;
  border: 1px solid #ebebeb;
  height: 80%;
}

.filebox label {
  padding: 0.1vw 0.2vw;
  font-size: 1.1rem;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-radius: 0.25em;
}

.filebox input[type="file"] {
  position: absolute;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

#send {
  background-color: #fdfdfd;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  height: 100%;
}

.chattingList li {
  width: 90%;
  padding: 0.3rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 0.5rem;
}

.message {
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 12px;
  margin: 0 5px;
  flex: 7;
}

.time {
  font-size: 10px;
  margin: 0 5px;
}

.sent {
  flex-direction: row-reverse;
  float: right;
}

.sent .message {
  background-color: #efefef;
}

.received .message {
  background-color: #efefef;
}

.roomDelete {
  background-color: #fdfdfd;
  border: 1px solid #ebebeb;
  color: red;
  font-weight: 700;
  position: relative;
  top: -30%;
  text-align: center;
}

.hidden {
  display: none;
}
