* {
  box-sizing: border-box;
}

body {
  font-family: "GmarketSansMedium";
}

.box {
  height: 850px;
  position: relative;
  width: 100%;
}

.card {
  width: 500px;
  height: 850px;
  margin: 80px auto;
  border: solid 1px black;
  background-color: white;
}

.slideBox {
  position: relative;
  width: 100%;
  height: 60%;
  border-bottom: solid 1px black;
  display: flex;
}

#hiddenSlideImg > img {
  margin-top: 42px;
  height: 660px;
}

.hiddenContent {
  width: 100%;
  position: relative;
  padding-top: 0;
  height: 200px;
  border-bottom: 1px solid grey;
  word-break: break-all;
}

.contentChild {
  position: absolute;
}
.hiddenUsersComment {
  overflow: auto;
  height: 330px;
}

.hiddenCommentEdit {
  background-color: rgb(194, 81, 100);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.hiddenCommentDelete {
  background-color: rgb(194, 81, 100);
  color: white;
  border: none;
  margin-left: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.editDeletBtn {
  display: flex;
}

.likeUsers {
  background-color: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.hiddenpro {
  display: flex;
}
.profile {
  width: 100%;
  border-bottom: solid 1px black;
  display: flex;
  align-items: center;
  padding: 1px;
  height: 6vh;
}

.profileImg {
  border: solid 1px black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 5px;
}

.profileName {
  border: solid 1px black;
  width: 120px;
  height: 40px;
  margin-left: 5px;
}

.slideImg {
  width: 100%;
  display: none;
}

/* 첫번째 슬라이드 이미지는 보이기 */
.slideBox .slideImg:first-of-type {
  display: block;
}

.slideImg img {
  width: 100%;
  height: 100%;
}

.profileBox {
  justify-content: space-between;
  width: 100%;
}

.userWriting {
  border-bottom: solid 1px black;
  height: 230px;
}

.boxIcon {
  height: 30%;
  display: flex;
  justify-content: space-between;
}

input:focus {
  outline: none;
}

.heartList {
  display: flex;
}
.commentBox {
  display: flex;
  align-items: center;
  padding: 5px;
}
.content-container {
  height: 280px;
}
.commentBox img {
  width: 40px;
}

.content {
  width: 98%;
  height: 50%;
  border: 0;
  margin-left: 5px;
  border: 1px solid black;
}

.commentUpBtn {
  background-color: black;
  color: white;
  height: 40px;
  width: 90px;
  border-radius: 20px;
  margin-left: 5px;
}

.contentWrite {
  width: 98%;
  height: 160px;
  border: 0;
  margin-left: 5px;
  word-break: break-all;
}

.uploadComment-form {
  display: flex;
  align-items: center;
  width: 100%;
}
.imgicons {
  margin-left: -37px;
}
.good {
  margin-left: 5px;
  margin-top: 38px;
}

.commentUp {
  margin-left: 5px;
  background-color: black;
  color: white;
  width: 80px;
  height: 30px;
  border-radius: 20px;
}
.commentUpLoad {
  width: 60px;
  height: 40px;
  background-color: black;
  color: white;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;

  padding: 12px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  display: none;
}

.btn {
  top: 40%;
  color: rgb(26, 25, 25);
}

.btn:hover {
  background: rgba(114, 113, 113, 0.3);
}

.likeCount {
  display: flex;
}

.btns {
  border: none;
  background-color: white;
  font-size: 30px;
}

.heart-icon {
  position: absolute;
  font-size: 30px;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 5px;

  color: rgb(241, 135, 144);
}
.management-btn {
  height: 30px;
  display: flex;
  padding: 1px;
  margin-right: 5px;
}

.postFormEdit {
  background-color: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.editPostDelete {
  margin-left: 5px;
  background-color: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.manageEdit,
.manageDelete {
  background-color: black;
  color: white;
  height: 40px;
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 10px;
}

.heart-icon-hidden {
  position: absolute;
  font-size: 30px;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 5px;
  color: rgb(241, 135, 144);
}

.heart-icon-isNotLogin {
  position: absolute;
  font-size: 30px;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 5px;
  color: rgb(241, 135, 144);
}

.search,
.sendMessage {
  width: 40px;
  height: 40px;
}

.heart-num {
  display: inline-block;
}
.hiddenBox {
  width: 1050px;
  height: 750px;
  position: absolute;
  top: 60%;
  left: 50%;

  transform: translate(-50%, -65%);
  animation: box 0.5s ease;
  display: none;
}

.hiddenImg {
  position: absolute;
  background-color: white;
  border: solid 1px black;
  width: 100%;
  height: 100%;
}

.halfImg {
  overflow: hidden;
  position: absolute;
  width: 65%;
  height: 100%;
  border-right: solid 1px black;
  background-color: black;
}

.halfSlide {
  width: 100%;
  height: 100%;
  background-color: rgb(44, 44, 44);
}

.halfSlide img {
  width: 100%;
  height: 90%;
  margin-top: 5.5%;
}

.hiddenComment {
  position: absolute;
  width: 35%;
  height: 100%;
  background-color: white;
  right: 0;
}

.slideWriting {
  height: 30%;
}

.close {
  top: 1%;
  position: absolute;
  right: 0;
}

.slideComment {
  height: 10%;
}

.send {
  margin-left: 45px;
  margin-top: 5px;
  font-size: 30px;
}

.inputBox {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.slideContent {
  height: 30px;
  border: 1px solid black;
}

.commentLike {
  position: relative;
  margin-top: 310px;
  height: 130px;
  z-index: 1;
}

.heart-hidden-hiddenSlide {
  margin-top: 35px;
}

.heart-hidden-isNotLogin {
  margin-top: 35px;
}

#postEdit > input {
  background-color: white;
  height: 200px;
  width: 350px;
  border: 1px solid black;
  border-radius: 30px;
  z-index: 2;
  margin-top: 400px;
}

.close {
  top: -6%;
}

.userLists {
  position: absolute;
  width: 150px;
  text-align: center;
  height: 130px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(248, 182, 182);
  display: none;

  border-radius: 10px;
  background-color: rgb(247, 221, 225);
  margin-top: -120px;
  z-index: 1;
}
.active {
  position: absolute;
  display: block;
  overflow: auto;
  right: 0;
}

.likedPeople {
  display: block;
}

#content {
  width: 205%;
  height: 170px;
  background-color: rgb(247, 221, 225);
  border-radius: 15px;
  border: 1px solid rgb(248, 182, 182);
  word-break: break-all;
  margin-left: 2px;
  margin-top: -55%;
}
.chagneCancleBtn {
  margin-left: 5px;
  margin-top: 5px;
}

.buttonChild {
  margin-top: 2px;
  margin-left: 1px;
}
.change {
  background-color: black;
  border-radius: 10px;
  height: 30px;
  color: white;
  cursor: pointer;
}
.cancel {
  background-color: black;
  border-radius: 10px;
  height: 30px;
  color: white;
  cursor: pointer;
}

@keyframes box {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 580px) {
  .card {
    width: 80%;
  }

  .hiddenBox {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    top: 50%;
    display: none;
    margin-top: 20%;
    font-size: 14px;
  }
  .halfImg {
    display: none;
  }
  .hiddenComment {
    width: 100%;
  }

  .commentBox img {
    width: 30px;
  }
  .hiddenUsersComment {
    height: 340px;
  }

  .commentLike {
    margin-top: 310px;
    height: 150px;
    font-size: 14px;
  }
}

@media (min-width: 581px) and (max-width: 699px) {
  .card {
    width: 400px;
  }

  .hiddenContent {
    font-size: 13px;
    height: 160px;
  }

  .hiddenBox {
    margin-top: 10%;
    height: 70%;
    width: 95%;
    animation: box 0.5s ease;
    top: 50%;
    display: none;
  }

  .slideWriting {
    height: 24%;
  }

  .commentLike {
    margin-top: 310px;
    height: 120px;
    font-size: 13px;
  }
  #hiddenSlideImg > img {
    height: 590px;
  }
  .hiddenUsersComment {
    height: 310px;
    font-size: 13px;
  }
  .heart-hidden-hiddenSlide {
    margin-top: 36px;
  }

  .commentUpBtn {
    height: 30px;
    width: 70px;
    font-size: 10px;
  }
  .contentWrite {
    font-size: 15px;
  }

  .close {
    top: -6.5%;
  }
  .efeff {
    font-size: 13px;
  }
  .commentBox img {
    width: 37px;
  }
  .inputComment {
    width: 25px;
  }
  .ommentUpLoad {
    width: 50px;
    height: 30px;
    font-size: 13px;
  }
  .imgicons {
    margin-left: -26px;
  }
  .hiddenCommentEdit {
    font-size: 10px;
  }
  .hiddenCommentEdit {
    font-size: 10px;
  }
  .likeUsers {
    font-size: 10px;
  }
}

@media (min-width: 700px) and (max-width: 1100px) {
  #content {
    width: 150%;
  }

  .hiddenBox {
    width: 90%;
    height: 70%;
    animation: box 0.5s ease;
    display: none;
    top: 55%;
  }

  .slideWriting {
    height: 28%;
    font-size: 14px;
  }

  .commentLike {
    margin-top: 285px;
    height: 120px;
    font-size: 14px;
  }

  #hiddenSlideImg > img {
    height: 590px;
  }
  .hiddenUsersComment {
    height: 270px;
    font-size: 14px;
  }

  .close {
    top: -6.5%;
  }
}

.display-none {
  display: none;
}
