body {
  box-sizing: border-box;
  font-family: "GmarketSansMedium";
}

.editBox {
  position: absolute;
  width: 80%;
  height: 800px;
  top: 30%;
  left: 0%;
}

.infoList {
  position: absolute;
  top: -10%;
  width: 200px;
  height: 500px;
  background-color: black;
  margin-top: 50px;
  text-align: center;
  border-radius: 0 20px 20px 0;
}

.infoList > div {
  font-weight: 500;
  font-size: 20px;
  color: white;
  padding-bottom: 10%;
}

.infoList > div:first-child {
  margin-top: 100px;
}

.infoList > div:hover {
  background-color: white;
  color: black;
  border-radius: 30px 0 0 30px;
  margin-left: 10px;
}


.myInformation,
.likeList,
.postEdit {
  position: absolute;
  top: -10%;
  left: 35%;
  width: 900px;
  height: 800px;
  right: 0;
  display: none;
}

.myInformation > p,
.likeList > p,
.postEdit > p {
  font-weight: 550;
  font-size: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid black;
}

#logoutBtn,
#editBtn {
  position: absolute;
  top: -15%;
  background-color: black;
  color: white;
}
#logoutBtn {
  margin-top: 25px;
  border-radius: 0 20px 20px 0;
  width: 10%;
  height: 5%;
}

#editBtn {
  margin-left: 32.5%;
  width: 19%;
  height: 9%;
  border-radius: 20px 0 0 20px;
  margin-top: 5%;
}
/* 내정보 수정 css */

.myinfoBox {
  position: absolute;
  width: 90%;
  height: 55%;
}

.myinfoBox > div {
  margin-left: 20%;
}

.myinfoBox > div:not(:first-of-type) {
  padding-top: 50px;
}

.word {
  font-size: 15px;
  font-weight: 600;
  margin-left: 10px;
}

.photoWord {
  font-size: 15px;
  font-weight: 600;
  margin-left: 10%;
}

.photo {
  float: right;
  margin-top: 65px;
}

#profileImg {
  width: 200px;
  height: 200px;
  border: 1px solid grey;
  border-radius: 50%;
}

.userInput {
  height: 30px;
  border-radius: 8px;
  border: 1px solid grey;
}

.userInput:hover {
  background-color: rgb(231, 231, 231);
}


.profileZone {
  position: absolute; 
  top: 40%;
  left: 20%;
  transform: translate(-50%, -50%);
  margin-bottom: 50px;
}
.informationZone {
  position: absolute; 
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.passwordZone {
  position: absolute; 
  top: 43%;
  left: 75%;
  transform: translate(-50%, -50%);
}

input {
  margin: 7px;
}

#profileUpload {
  margin: 10px;
}

.modifyInformBtn:disabled {
  background-color: rgb(147, 147, 147);
}

.modifyInformBtn {
  width: 80px;
  height: 30px;
  background-color: #2eabff;
  color: white;
  border-radius: 4px;
  margin-top: 35px;
  margin-left: 115px;
  border: none;
}

#fileUploadBtn {
  width: 80px;
  height: 30px;
  background-color: #2eabff;
  color: white;
  border-radius: 4px;
  margin-left: 50%;
  margin-top: 20px;
  border: none;
}

.profilePhoto {
  position: absolute;
  left: 13%;
  top: -5%;
}

input[type=file]::file-selector-button {
  width: 80px;
  height: 30px;
  background-color: #88cfff;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  border: none;
}
#pwMsg {
  font-size: 12px;
}
.modifyPWBtn {
  width: 80px;
  height: 30px;
  background-color: #2eabff;
  color: white;
  border-radius: 4px;
  margin-top: 35px;
  margin-left: 115px;
  border: none;
}
 /* PC , 테블릿 가로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) { 
  .infoList {
    position: absolute;
    top: -10%;
    width: 200px;
    height: 500px;
    background-color: black;
    margin-top: 50px;
    text-align: center;
    border-radius: 0 20px 20px 0;
  }
} 

/* 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) { 
  .infoList {
    position: absolute;
    top: -10%;
    width: 100px;
    height: 300px;
    background-color: black;
    margin-top: 50px;
    text-align: center;
    border-radius: 0 20px 20px 0;
  }
} 

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (min-width:480px) and (max-width:767px) {
  .infoList {
    position: absolute;
    top: -10%;
    width: 100px;
    height: 500px;
    background-color: black;
    margin-top: 50px;
    text-align: center;
    border-radius: 0 20px 20px 0;
  }
  .infoList > div {
    font-weight: 500;
    font-size: 10px;
    color: white;
    padding-bottom: 10%;
  }
  #logoutBtn {
    margin-top: 25px;
    border-radius: 0 20px 20px 0;
    width: 20%;
    height: 5%;
    font-size: 10px;
}
} 

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {
  .infoList {
    position: absolute;
    top: -10%;
    width: 100px;
    height: 500px;
    background-color: black;
    margin-top: 50px;
    text-align: center;
    border-radius: 0 20px 20px 0;
  }
  .infoList > div {
    font-weight: 500;
    font-size: 10px;
    color: white;
    padding-bottom: 10%;
  }
  #logoutBtn {
    margin-top: 25px;
    border-radius: 0 20px 20px 0;
    width: 20%;
    height: 5%;
    font-size: 10px;
}
}