
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "GmarketSansMedium";
}

.headerBox {
  border-bottom: solid 1px rgb(121, 121, 121);
}

.header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  position: sticky;
  max-width: 1400px;
  margin: auto;
}

.logo {
  width: 180px;
  height: 130px;
  margin-top: -33px;
}

ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  text-align: center;
  padding: 0;
}

ul > li {
  height: auto;
  width: 100%;
}

ul > li:not(:first-of-type) {
  margin-left: 30px;
}

img {
  cursor: pointer;
  width: 40px;
}

.postUp {
  font-size: 15px;
  text-decoration: none;
  color: black;

}

@media (max-width: 420px) {
  .logo {
    display: none;
  }

  .icon {
    text-align: center;
  }
  ul {
    width: 100vw;
    justify-content: center;
  }

  li img {
    width: 30px;
  }
}

@media (min-width: 421px) and (max-width: 580px) {
  .logo {
    display: none;
  }

  li img {
    width: 35px;
  }

  ul {
    width: 100vw;
    justify-content: center;
  }

  .icon {
    text-align: center;
  }

  .counting {
    width: 22px;
    height: 22px;
    margin-left: 33px;
  }
}
