* {
  box-sizing: border-box;
}

body {
  font-family: "GmarketSansMedium";
}
.box {
  height: 700px;
  width: 600px;
  margin: 30px auto;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, rgb(64, 108, 202), rgb(190, 91, 230));
}

.postBox {
  width: 500px;
  height: 600px;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.textInput {
  margin-bottom: 20px;
  width: 300px;
  height: 33px;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  border: 2px solid rgb(129, 65, 155);
}

.postBox input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.replaceFile {
  margin-bottom: 20px;
  width: 300px;
  height: 33px;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  background-color: rgb(129, 65, 155);
  color: white;
  border: none;
  font-size: 13px;
  padding-top: 5px;
}

.btn {
  background: linear-gradient(45deg, rgb(64, 108, 202), rgb(190, 91, 230));
  border: none;
  color: white;
  width: 300px;
  height: 45px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}

@media (max-width: 509px) {
  .box {
    margin-top: 10%;
    width: 400px;
    height: 550px;
  }
  .postBox {
    width: 330px;
    height: 480px;
  }
  .btn {
    width: 260px;
    height: 30px;
    font-size: 10px;
  }
  .bi {
    width: 260px;
    height: 260px;
  }
  .replaceFile,
  .textInput {
    width: 260px;
    font-size: 10px;
  }
}
@media (min-width: 510px) and (max-width: 720px) {
  .box {
    margin-top: 10%;
    width: 500px;
    height: 650px;
  }
  .postBox {
    width: 380px;
    height: 500px;
  }
  .btn {
    height: 40px;
    font-size: 13px;
  }
}

.imgPreview {
  width: 300px;
  height: 330px;
}

.bi {
  border: 2px dotted black;
  font-size: 240px;
  color: rgb(129, 65, 155);
}

.imgPreview img {
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
}

.circle {
  display: flex;
  border-style: none;
  border-radius: 50px;
  background-color: rgb(129, 65, 155);
  color: white;
  width: 40px;
  height: 40px;
  align-items: center;
  text-align: center;
  position: relative;
  bottom: 340px;
  left: 150px;
  justify-content: center;
}

.display-none {
  display: none;
}
