body{
    height:5000px;
}

.display-none{
    display: none;
}

.posts{
    background-color: aquamarine;
}

.uploadComment-form{
    background-color: antiquewhite;
}

.editComment-form{
    background-color: rgb(225, 197, 245);
}

/* .like > button{
    background-color: red;
}
.like-off > button{
    background-color: gray;
} */