input {
    margin: 5px;
    background-color: #f9f9f9;
    border: solid #cac9c9 1px;
    border-radius: 3px;
}
body {
    background-color: #f9f9f9;
    font-family: 'GmarketSansMedium';
}
.loginArea {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loginImg1,
.loginImg2,
.loginImg3 {
    height: 350px;
    width: 300px;
}
.loginImg1{
    position: absolute; 
    top: 50%;
    left: 27%;
    transform: translate(-50%, -50%);
    animation: loginImg1 3s alternate infinite;
}
@keyframes loginImg1 {
    0%{
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100%{
        opacity: 0;
    }
}
.loginImg2 {
    position: absolute; 
    top: 50%;
    left: 73%;
    transform: translate(-50%, -50%);
}
.loginImg3{
    position: absolute; 
    top: 50%;
    left: 27%;
    transform: translate(-50%, -50%);
    animation: loginImg3 3s alternate infinite;
}
@keyframes loginImg3 {
    0%{
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
.logoImg {
    width: 165px;
    vertical-align: middle;
    margin: 50px 0 40px 0;
 
}
.loginArea {
    background-color: white;
    height: 350px;
    width: 300px;
    text-align: center;
    border: solid #cac9c9 1px;
}
.loginForm {
    vertical-align: middle;
}
.loginBtn {
    height: 23px;
    width: 170px;
    background-color: #b2dffc;
    color: white;
    border: none;
    margin: 5px 0;
    border-radius: 3px;
}
.signupLink {
    text-decoration : none;
    color: inherit;
    font-size: small;
    color: #0095f6;;
}
.noAccount {
    color: black;
}

@media screen and (min-width:1024px) {
    .loginImg1{
        position: absolute; 
        top: 50%;
        left: 27%;
        transform: translate(-50%, -50%);
    }
    .loginImg2 {
        position: absolute; 
        top: 50%;
        left: 73%;
        transform: translate(-50%, -50%);
    }
}
@media screen and (min-width:768px) and (max-width: 1023px) {
    .loginImg1{
        position: absolute; 
        top: 50%;
        left: 27%;
        transform: translate(-50%, -50%);
    }
    .loginImg2 {
        position: absolute; 
        top: 50%;
        left: 73%;
        transform: translate(-50%, -50%);
    }

}
@media screen and (max-width:767px){ 
    .loginImg1{
        visibility: hidden;
    }
    .loginImg2 {
        visibility: hidden;
    }
    
}
@font-face {
font-family: 'GmarketSansMedium';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
font-weight: normal;
font-style: normal;
}