<div class="headerBox">
  <header class="header">
    <a href="/">
      <img src="/static/img/mainLogo.jpg" alt="logo" class="logo" />
    </a>

    <nav class="navBar">
      <ul>
        <li>
          <a href="/">
            <img src="/static/img/home.jpg" alt="홈" title="홈" />
          </a>
        </li>
        <li>
          <% if (isLogin) { %>
          <a href="/post/upload">
            <img
              src="/static/img/postImg.png"
              alt="전체 페이지"
              title="게시글쓰기"
            />
          </a>
          <%} else { %>
          <a href="/user/signin">
            <img
              src="/static/img/postImg.png"
              alt="전체 페이지"
              title="게시글쓰기"
            />
          </a>
          <% } %>
        </li>
        <% if (isLogin) { %> <%} else { %>
        <li>
          <a href="/user/signin">
            <img
              src="/static/img/login.jpg"
              alt="로그인 페이지"
              title="로그인"
            />
          </a>
        </li>
        <% } %>
        <li>
          <% if (isLogin) { %>
          <a href="/user/mypage?isLogin=<%= isLogin %>">
            <img
              src="/static/img/mypage.jpg"
              alt="마이페이지"
              title="마이페이지"
            />
          </a>
          <%} else { %>
          <a href="/user/signin">
            <img
              src="/static/img/mypage.jpg"
              alt="마이페이지"
              title="마이페이지"
            />
          </a>
          <% } %>
        </li>
      </ul>
    </nav>
  </header>
</div>
