<div>
  <link rel="stylesheet" href="/static/css/nav.css" />

  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />

  <header class="header">
    <img src="/static/image/logo.jpg" alt="logo" class="logo" />

    <nav class="navBar">
      <ul>
        <li>
          <div onclick="home();">
            <img src="/static/image/home.jpg" alt="홈" title="홈" />
          </div>
        </li>
        <li>
          <div onclick="message();">
            <img
              src="/static/image/message.jpg"
              alt="전체 페이지"
              title="메세지"
            />
          </div>
        </li>
        <li>
          <div onclick="login();">
            <img
              src="/static/image/login.jpg"
              alt="로그인 페이지"
              title="로그인"
            />
          </div>
        </li>
        <li>
          <div onclick="myPage();">
            <img
              src="/static/image/mypage.jpg"
              alt="마이페이지"
              title="마이페이지"
            />
          </div>
        </li>
        <li>
          <div onclick="alarm()">
            <img src="/static/image/alarm.jpg" alt="알림" title="알림" />
          </div>
        </li>
      </ul>
    </nav>
  </header>
  <hr />
</div>
