<div class="headerBox">
  <header class="header">
    <a href="/">
      <img src="/static/img/navlogo.jpg" alt="logo" class="logo" />
    </a>

    <nav class="navBar">
      <ul>
        <li>
          <a href="/">
            <img src="/static/img/home.jpg" alt="홈" title="홈" />
          </a>
        </li>
        <li>
          <div onclick="chat();">
            <img
              src="/static/img/message.jpg"
              alt="전체 페이지"
              title="메세지"
              />
            </div>
          </li>
        <% if (isLogin) { %>
          <%} else {  %>
            <li>
              <a href="/user/signin">
              <img
                src="/static/img/login.jpg"
                alt="로그인 페이지"
                title="로그인"
                />
              </a>
            </li>
            <% }  %>
        <li>
            <% if (isLogin) { %>
            <img
              src="/static/img/mypage.jpg"
              alt="마이페이지"
              title="마이페이지"
              onclick="mypage();"
            />
            <%} else {  %>
            <a href="/user/signin">
            <img
              src="/static/img/mypage.jpg"
              alt="마이페이지"
              title="마이페이지"
            />
            </a>
            <% }  %>
        </li>
        <li>
          <div onclick="alarm()">
            <img src="/static/img/alarm.jpg" alt="알림" title="알림" />
            <div class="countAlarm counting"> <%= %> </div>
          </div>
        </li>
      </ul>
    </nav>
  </header>
</div>
