<div class="headerBox">
    <header class="header">
      <a href="/">
        <img src="/static/img/mainLogo.jpg" alt="logo" class="logo" />
      </a>
  
      <nav class="navBar">
        <ul>
          <li>
            <a href="/">
              <img src="/static/img/home.jpg" alt="홈" title="홈" />
            </a>
          </li>
          <li>
                <a href="/user/signin">
                  <img src="/static/img/mypage.jpg" alt="마이페이지" title="마이페이지" />
                </a>
          </li>
        </ul>
      </nav>
    </header>
  </div>