<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/login.css" />

    <%- include('../common/include.ejs') %>
  </head>
  <body>
    <%- include('../common/nav.ejs') %>
    <div class="login">
      <div class="imgArea">
        <img src="/static/img/loginImg.png" alt="loginImg" class="loginImg" />
      </div>
      <div class="loginArea">
        <img src="/static/img/banner.png" alt="logo" class="logoImg" />
        <div class="loginForm">
          <form action="/login">
            <div>
              <input
                name="userid"
                type="text"
                maxlength="20"
                placeholder="아이디"
              />
            </div>
            <div>
              <input
                name="pw"
                type="password"
                maxlength="20"
                placeholder="비밀번호"
              />
            </div>
            <button type="submit" class="loginBtn">로그인</button>
          </form>
          <br /><br />
          <a href="/signup" class="signupLink"
            >계정이 없으신가요? <strong>가입하기</strong></a
          >
        </div>
      </div>
    </div>
  </body>
</html>
