<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마이페이지</title>
</head>
<body>
    <%= isLogin %>
    <p onclick="signout();">로그아웃하기</p>
</body>
<script>
    console.log(isLogin);
    function signout(isLogin) {
      axios({
        method: "POST",
        url: "/user/signin",
        data: {
          isLogin,
        },
      });
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</html>
