<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/static/css/mypageEdit.css" />
        <%- include('../common/include.ejs') %>
      </head>
<body>
    <%- include('../common/nav.ejs') %>

    <div class="editBox">
        <div class="profileEdit">
            <div class="infoList">
                <div class="info" onclick="myinform()">내정보 수정</div>
                <div class="like">좋아요 목록</div>
                <div class="fix">게시글 수정</div>
            </div>
            <div class="editCard">
                <div class="myInformation">
                    <p>내정보 수정</p>
                    <form>
                      프로필사진: <img src="" alt="profileImg" id="profileImg">
                      ID: <input type="text" id="userID" readonly>
                      PW: <input type="text" id="userPW" readonly>
                      NAME: <input type="text" id="name">
                      BirthDay: <input type="text" id="birth">
                      <button type="button" onclick="modify();">수정하기</button>
                    </form>
                </div>
                <div class="likeList">
                    <p>좋아요 목록</p>
                </div>
                <div class="postEdit">
                    <p>게시글 수정</p>
                </div>
            </div>
        </div>
        <button type="button" onclick="signout();" id="logoutBtn">로그아웃</button>
    </div>

    <input type="hidden" name="isLogin" value="<%= isLogin %>" id="isLogin">
</body>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/static/js/mypageEdit.js"></script>
</html>
