<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/mypageEdit.css" />
    <%- include('../common/include.ejs') %>
  </head>
  <body>
    <%- include('../common/nav.ejs') %>

    <div class="editBox">
      <div class="profileEdit">
        <div class="infoList">
          <div class="info" onclick="myinform()">내정보 수정</div>
          <div class="like">좋아요 목록</div>
          <div class="fix">게시글 수정</div>
        </div>
        <div class="editCard">
          <div class="myInformation">
            <p>내정보 수정</p>
            <form>
              <div class="myinfoBox">
                <div class="photo">
                    <img src="" alt="profileImg" id="profileImg" />
                    <br><br>
                    <span class="photoWord">프로필 사진</span>
                </div>
                <div class="idEdit">
                  <span class="word">ID</span>
                  <input type="text" id="userID" class="userInput" readonly />
                </div>
                <div class="pwEdit">
                  <span class="word">PW</span>
                  <input type="text" id="userPW" class="userInput" readonly />
                </div>
                <div class="nameEdit">
                  <span class="word">NAME</span>
                  <input type="text" id="name" class="userInput" />
                </div>
                <div class="birthEdit">
                  <span class="word">BirthDay</span>
                  <input type="text" id="birth" class="userInput" />
                </div>
                <button type="button" onclick="modify();" id="editBtn">수정하기</button>
              </div>
            </form>
          </div>
          <div class="likeList">
            <p>좋아요 목록</p>
          </div>
          <div class="postEdit">
            <p>게시글 수정</p>
          </div>
        </div>
      </div>
      <button type="button" onclick="signout();" id="logoutBtn">
        로그아웃
      </button>
    </div>

    <input type="hidden" name="isLogin" value="<%= isLogin %>" id="isLogin" />
  </body>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/static/js/mypageEdit.js"></script>
</html>
