<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pocogram</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/static/css/postUpload.css" />
    <style>
      @font-face {
        font-family: "GmarketSansMedium";
        src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
          format("woff");
        font-weight: normal;
        font-style: normal;
      }
    </style>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <%- include('../common/include.ejs') %>
    <link rel="icon" href="/static/img/pocopabicon.png">
  </head>

  <body>

    <%- include('../common/nav2.ejs') %>

    <br /><br />
    <form name="form_upload">
      <div class="box">
        <div class="postBox">
          <div class="imgPreview"><i class="bi bi-cloud-arrow-up"></i></div>
          <div class="circle display-none"></div>
          <label for="img" class="replaceFile">CHOOSE A FILE</label>
          <input type="file" name="img" id="img" class="fileInput" onchange="readURL(this);" multiple accept="image/*"/>
          <input
            type="text"
            name="content"
            id="content"
            class="textInput"
            onfocus="this.placeholder=''"
            onblur="this.placeholder='내용 입력'"
            placeholder="내용 입력"
            autocomplete="off"

          />
          <button type="button" onclick="upload()" class="btn">UPLOAD YOUR FILE</button>
        </form>
        </div>
      </div>

      <!-- 업로드 하고 나서 mypage에 게시글 목록으로 넘어가게  -->
    <!-- </form> -->
    <script src="/static/js/postUpload.js"></script>
  </body>
</html>
