<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입</title>
    <link rel="stylesheet" href="/static/css/signup.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
    />
    <%- include('../common/include.ejs') %>
    <script type="text/javascript">
      window.history.forward();
      function noBack(){window.history.forward();}
     </script>
  </head>
  <body onload="noBack();" onpageshow="if(event.persisted) noBack();" onunload="">
    <%- include('../common/nav.ejs') %>
    <main class="signup">
      <div class="signupBoard">
        <img id="logo" src="/static/img/logo.png" alt="logo" />

        <form id="information" name="information">
          <div class="inputBox">
            <input
              type="text"
              name="name"
              id="name"
              placeholder="성명"
              maxlength="10"
              required
            />
          </div>
          <div class="inputBox idInput">
            <input
              type="userID"
              name="userID"
              id="userID"
              placeholder="아이디"
              maxlength="10"
              required
            />
          </div>
          <p id="idMsg"></p>
          <div class="inputBox">
            <input
              type="text"
              name="birth"
              id="birth"
              required
              placeholder="생년월일"
              onfocus="(this.type='date')"
              onblur="(this.type='text')"
            />
          </div>
          <div class="inputBox active">
            <input
              type="password"
              name="userPW"
              id="userPW"
              placeholder="비밀번호"
              required
              minlength="8"
              maxlength="16"
            />
            <img
              class="closeEyePw"
              id="closeEye"
              src="/static/img/eye-slash.svg"
              alt="closeEye"
              width="16"
            />
          </div>
          <div class="inputBox">
            <input
              type="password"
              name="pwCheck"
              id="pwCheck"
              placeholder="비밀번호 확인"
              required
              minlength="8"
              maxlength="16"
            />
            <img
              class="closeEyePwCheck"
              id="closeEye"
              src="/static/img/eye-slash.svg"
              alt="closeEye"
            />
          </div>
          <p id="pwMsg"></p>
          <button type="button" class="join" onclick="join();">가입하기</button>
        </form>
      </div>
      <div class="signinMove">
        계정이 있으신가요? <a href="/login">로그인</a>
      </div>
    </main>

    <script src="/static/js/signup.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  </body>
  
</html>
