body {
  box-sizing: border-box;
  margin: 0;
}

.header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  position: sticky;
  max-width: 1400px;
  margin: auto;
}

.logo {
  width: 180px;
  height: 133px;
  margin-top: -30px;
}

ul {
  display: flex;
  list-style: none;
  flex-direction: row;
}

ul > li {
  margin-left: 2.5vw;
  height: auto;
  width: 100%;
}
img {
  cursor: pointer;
  width: 40px;
}

@media screen and (max-width: 767px) {
  .logo {
    visibility: hidden;
  }
  ul {
    margin-left: -50%;
  }
}
